/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  height: 100vh;
  background-size: cover;
  font-family: "Roboto";
}
.heading {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  color: white;
}
.image-container {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.image {
  width: 100px;
}
