/* Write your code here. */
@media (max-width: 767px) {
  #bg-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .main-heading {
    font-size: 40px;
    font-family: "Bree Serif";
    color: #ffffff;
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .button-l {
    background-color: #eab308;
    border-radius: 15px;
    margin: 10px;
    border-style: none;
    padding: 10px;
    width: 80px;
    height: 45px;
    font-weight: 600;
    font-family: "Roboto";
    color: #ffffff;
  }
  .button-c {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    border-style: none;
    padding: 10px;
    width: 100px;
    height: 45px;
    font-weight: 600;
    text-align: center;
    font-family: "Roboto";
    margin-left: -3px;
    color: #323f4b;
  }
  .button-s {
    background-color: #1d4ed8;
    border-radius: 15px;
    margin: 10px;
    border-style: none;
    padding: 10px;
    width: 80px;
    height: 45px;
    font-weight: 600;
    font-family: "Roboto";
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  #bg-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-heading {
    font-size: 60px;
    font-family: "Bree Serif";
    color: #ffffff;
  }
  .button-l {
    background-color: #eab308;
    border-radius: 15px;
    margin: 10px;
    border-style: none;
    padding: 10px;
    width: 80px;
    height: 40px;
    font-family: "Roboto";
    color: #ffffff;
  }
  .button-c {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    border-style: none;
    padding: 10px;
    font-family: "Roboto";
    width: 100px;
    height: 40px;
    color: #323f4b;
  }
  .button-s {
    background-color: #1d4ed8;
    border-radius: 15px;
    margin: 10px;
    border-style: none;
    padding: 10px;
    width: 80px;
    height: 40px;
    font-family: "Roboto";
    color: #ffffff;
  }
}
